<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat Room</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="/static/css/chat-room.css" />
	</head>
	<body>
		<main>
			<aside class="users">
				<h3>Connected users</h3>
				<ul class="users-list"></ul>
			</aside>
			<div>
				<h3>Chat</h3>
				<section class="chat"></section>
				<form action="" id="send-message-form">
					<input type="text" placeholder="Send a message" class="message-input" />
					<input type="submit" value="Send" />
				</form>
			</div>
		</main>

		<script>
			const username = "<%= username %>";
		</script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/static/js/chat-room.js"></script>
	</body>
</html>
