<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat Room</title>
	</head>
	<body>
		<main>
			<aside class="users">
				<h3>Connected users</h3>
				<ul class="users-list"></ul>
			</aside>
			<section class="chat">
				<h3>Chat</h3>
			</section>
			<form action="" id="send-message-form">
				<input type="text" id="message" placeholder="Message" />
				<input type="submit" value="Send" />
			</form>
		</main>

		<script>
			const username = "<%= username %>";
		</script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/static/js/chat-room.js"></script>
	</body>
</html>
