* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body {
    background-color: #e2e2e2;
}
.username-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: white;
    border: 1px solid #2ecc71;
    box-shadow: 0px 0px 7.5px 0 #1a703e;
    border-radius: 5px;
}
.username-input {
    width: 200px;
    padding: 10px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 11pt;
    border: 1px solid #d8d8d8;
    background-color: white;
    transition: 0.5s;
}
.username-input:hover, .username-input:focus {
    border-color: black;
}
.form-submit {
    width: 100px;
    padding: 10px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #2ecc71;
    transition: 0.5s;
    cursor: pointer;
    font-size: 11pt;
}
.form-submit:hover {
    background-color: #27ae60;
}